<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

    <bean id="a3" class="org.taru.test.A3"></bean>
    <bean id="a4" class="org.taru.test.A4"></bean>
    <bean id="blue" class="org.taru.test.Blue"></bean>
    <bean id="break" class="org.taru.test.Break"/>
    <!-- 纯XML 之  构造器注入-->
<!--    <bean id="print" class="org.taru.test.DaYin">-->
<!--        <constructor-arg index="0" ref="a3"/>-->
<!--        <constructor-arg index="1" ref="blue"/>-->
<!--    </bean>-->

    <!--纯XML之 Set注入-->
<!--    <bean id="dayin" class="org.taru.test.DaYin">-->
<!--        <property name="d" ref="a3"/>-->
<!--        <property name="name" value="zyx"/>-->
<!--    </bean>-->

    <context:component-scan base-package="org.taru.aspectj"/>
    <context:component-scan base-package="org.taru.service"/>
    <!-- false 或者不写  基于接口的代理  true 是基于类的代理  使用cglib 代理库 高版本的Spring智能判断-->
    <aop:aspectj-autoproxy/>  <!--启动AOP-->
<!--    <aop:aspectj-autoproxy proxy-target-class="true"/>-->

</beans>
